
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/style-statistic.css">
    <link rel="stylesheet" href="/css/style-patientCard.css">

</head>

<body>
    <%- include('../../../partials/sidebar') -%>
    
    <div class="main-content">
        <header>
            <div class="header-title-wrapper"> 
                <label for="menu-toggle">
                            <span class="las la-bars"></span>
                </label>
                <div class="header-title">
                    <h1> Karta pacjenta</h1>
                   
                    <span class="las la-user-injured"></span>
                </div>
            </div> 
        </header>

        <div class="board-container">
            <section class="userProfile card">
                <div class="profile">
                    <div class="avatar-profile">
                        <img src="/img/avatar.jpg" alt="">
                    </div>
                   <h2><%-name %> </h2>
                </div><hr>
                <div class="user-detail">
                    <ul>
                        <li>
                            <span class="las la-envelope"></span>
                            <span><%- email %> <a href="">Wyślij email</a></span>
                        </li>
                        <li>
                            <span class="las la-phone"></span>
                            <span><%- phone %></span>
                        </li>
                        <li>
                            <span class="las la-map-marked-alt"></span>
                            <span><%- address %></span>
                        </li>
                    </ul>
                    <button class="button-34" id="btn-delete">Usuń pacjenta</button>
                </div>

            </section>

            <section class="detailProfile card">
                <div class="options">
                    <div class="tabs_sidebar">
                        <button class="tabs_button tabs_button--active" data-for-tab="1">Wizyty</button>
                        <button class="tabs_button" data-for-tab="2">Historia medyczna</button>
                        <button class="tabs_button" data-for-tab="3">Dane pacjenta</button>
                    </div>

                    <div class="tabs_content tabs_content--active" data-tab="1">
                        <div class="history">
                            <a class="add_new_history" href="/admin/pacjenci/<%= name %>/wizyta">Nowa wizyta</a>
                           
                            <% allVisit.reverse().forEach(visit => {%>
                            <% if(visit.visitDate.name == name) {%>
                            <a class="history-date" href="/admin/pacjenci/<%= name %>/<%=visit.id%>"> <%- visit.visitTime %></a>
                                <% }%>
                            <% })%>
                        </div>
                            <div class="history-description"> 
                            <% allVisit.forEach(visit => {%>
                                <% if(visit.visitDate.name == name) {%>
                                <h2>Opis wizyty z dnia: <%- visit.visitTime %> </h2>
                                <h4> <%- visit.visitSubsc %> <hr></h4>
                                <% }%>
                                <% })%>
                            </div>  
                    </div>

                    <div class="tabs_content" data-tab="2">
                        <h2>Tab 2</h2>
                        <p>coss</p>
                    </div>
                </div>
            </section>

        </div>

    </div>



    <script>
        function setupTabs() {
            document.querySelectorAll(".tabs_button").forEach(button => {
                button.addEventListener('click', () =>{
                    const sideBar = button.parentElement;
                    const optionContainer = sideBar.parentElement;
                    const tabNumber = button.dataset.forTab;
                    const tabToActive = optionContainer.querySelector(`.tabs_content[data-tab="${tabNumber}"]`);
                
                    sideBar.querySelectorAll('.tabs_button').forEach(button =>{
                        button.classList.remove('tabs_button--active');
                    });

                    optionContainer.querySelectorAll('.tabs_content').forEach(tab =>{
                        tab.classList.remove('tabs_content--active');
                    });
                
                    button.classList.add('tabs_button--active');
                    tabToActive.classList.add('tabs_content--active');
                })
            })
        }

        document.addEventListener("DOMContentLoaded", () =>{
            setupTabs();
        })
    </script>
</body>