
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/style-dashboard.css">
    <link rel="stylesheet" href="/css/style-patientCard.css">

</head>

<body>
    <%- include('../../../partials/sidebar') -%>
    
    <div class="main-content">
        <header>
            <div class="header-title-wrapper"> 
                <label for="menu-toggle">
                            <span class="las la-bars"></span>
                </label>
                <div class="header-title">
                    <h1> Karta pacjenta</h1>
                   
                    <span class="las la-user-injured"></span>
                </div>
            </div> 
        </header>

        <div class="board-container">
            <section class="userProfile card">
                <div class="profile">
                    <div class="avatar-profile">
                        <img src="/img/avatar.jpg" alt="">
                    </div>
                   <h2><%-name %> </h2>
                </div><hr>
                <div class="user-detail">
                    <ul>
                        <li>
                            <span class="las la-envelope"></span>
                            <span><%- email %> <a href="">Wyślij email</a></span>
                        </li>
                        <li>
                            <span class="las la-phone"></span>
                            <span><%- phone %></span>
                        </li>
                        <li>
                            <span class="las la-map-marked-alt"></span>
                            <span><%- address %></span>
                        </li>
                    </ul>
                </div>

            </section>

            <section class="detailProfile card">
                <div class="options">
                    <a href="#" class="active">Wizyty</a>
                    <a href="#" >Historia medyczna</a>
                    <a href="#">Dane pacjenta</a>
                    
                </div>
                
                <div class="options-part">
                    <div class="history">
                        <a href="/admin/pacjenci/<%= name %>/wizyta">Dodaj nową wizytę</a>
                        

                        <% allVisit.forEach(visit => {%>
                            <% if(visit.visitDate.name == name) {%>
                            <a class="history-date" href="/admin/pacjenci/<%= name %>/"> <%- visit.visitTime %></a>
                       
                            <% }%>
                            <% })%>

                    </div>
                    <div class="history-description">
                        
                        
                      
                            
                            <h2>Opis wizyty z dnia: </h2>
                        <h4><hr></h4>
                       
                    </div>
                    </div>
                   

            </section>

        </div>

    </div>


</body>